<!DOCTYPE html> 
<html>     
    <head> 
        <title>Holohand app</title> 
		<!-- css references -->
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    </head>
    <body>